<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance App</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/camera.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">
                Add User Details below
              </h5>
              <form method="post" action="/dashboard/addUser/UserStatus">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="username"
                    name="username"
                  />
                  <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="password"
                    name="password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3 upload">
                  <input type="file" id="fileInput" name="img" />
                </div>

                <div class="d-grid">
                  <input
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
                    value="Complete Registration"
                  />
                </div>
              </form>
              <form action="/dashboard/addUser/takePhoto" method="get">
                <div class="mb-2" style="margin-top: 20px">
                  Don't have a Photo?
                  <input
                    class="reg"
                    type="submit"
                    value="Click one here"
                    style="margin-left: 50px"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const fileInput = document.getElementById("fileInput");

      fileInput.addEventListener("change", (e) => {
        const file = fileInput.files[0];
        const reader = new FileReader();
        reader.addEventListener("load", () => {
          let data = reader.result;
          console.log(data);
          fetch("/dashboard/img", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          }).then((response) => response.json());
        });
        reader.readAsDataURL(file);
      });
    </script>
  </body>
</html>
