<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance App</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/camera.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div>
          <div class="card border-0 shadow rounded-3">
            <div class="card-body">
              <div id="con">
                <video id="video" autoplay></video>
              
              <canvas id="canvas" style="display: none"></canvas></div>
              <form action="/dashboard/markAttendance" method="post">
                <div id="mark">
                  <input
                    type="submit"
                    value="Mark my attendance"
                    style="margin-top: 20px"
                    id="capture"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
     <script src="/face-api.min.js"></script>
    <script src="/attendance.js"></script>
  </body>
</html>
